.welcome-page {
  border: 2px solid purple;
  margin: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #81c7a5, #0131ac, #1b212c);
  background-size: 200% 200%;
  position: fixed;
  animation: color 10s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.welcome-text {
  border: 2px solid red;
  display: flex;
  margin-top: 13vh;
  flex-direction: column;
  align-items: center;
}

.welcome-text p {
  border: 2px solid yellow;
  font-size: 50px;
  color: white;
  margin: 5vh, auto;
}

.welcome-button-container {
  border: 2px solid white;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
}

.welcome-button {
  width: 99px;
  height: (174/1512) vh;
  cursor: pointer;
  color: white;
  background: #1b212c;
  border-radius: 15%;
}

.button--text {
  width: (60/526) vw;
  font-size: 2.5rem;
}
