# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.pyc

# Virtual Environment
venv/
.env
./backend/.venv/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

/frontend/src/api.js
