.filter-button {
  font-size: 30px;
  color: aliceblue;
  background: #0145ac;
  width: 109px;
  height: 36px;
  z-index: 100;
  border: 2px solid red;
  margin-left: 1186px;
  margin-top: 32px;
  cursor: pointer;
}
