@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
    margin: 0px 0.5rem;
}
.htmx-request.htmx-indicator{
    display:inline;
    margin: 0px 0.5rem;
}
